/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/*-----------------------------------------------------------------------------------------*/

@font-face {
  font-family: ogg;
  src: url(../Ogg-Regular.woff) format("woff");
  font-weight: regular;
}

@font-face {
  font-family: ogg;
  src: url(../Ogg-RegularItalic.woff) format("woff");
  font-style: italic;
}

/*-----------------------------------------------------------------------------------------*/

body {
    font-family: 'ogg', serif;
	width: 100%;
	background-color: #f2f4f3;
	cursor: none;
    margin: 0;
    overflow-x: hidden;
    cursor: none;
/*    position: absolute;*/
}

#white{
    font-family: 'ogg', serif;
	width: 100%;
	cursor: none;
    margin: 0;
    overflow-x: hidden;
    cursor: none;
    background: white;
}

/*-----------------------------------------------------------------------------------------*/

/* Summer 2019 */
h2 {
/* font-family: 'Work Sans', sans-serif;*/
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 2rem;
    text-align: center;
}

/* Project Title */
h1 {
    font-family: 'ogg', serif;
    font-size: 7rem;
    text-align: center;
    margin-bottom: 2rem;
    text-transform: none;    
}

/* Opportunity Space; names, tools, roles, timeline header */
h3 {
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 300;
}

/* fancy line */
h4 {
    font-family: 'ogg', sans-serif;
    font-size: 3.7rem;
    line-height: 4rem;
    margin-bottom: 3rem;

}

p {
    font-weight: 300;
    margin-bottom: 3rem;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    line-height: 1.7rem;

}

/* names, tools, roles, timeline */
h5  {
    font-family: 'ogg', sans-serif;
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 1rem !important;
}


/*-----------------------------------------------------------------------------------------*/


#projectpage {
    width: 100vw;
    font-family: 'Work Sans', sans-serif;
    position: absolute;
}

#projectpage img {
    width: 100vw;
}

.project-opening {
    margin-top: 5rem;
    margin-bottom: 10rem;
    opacity: 0;
}

.herohide {
    opacity: 0;
}

/*-----------------------------------------------------------------------------------------*/


#projectintro {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 10rem;
    margin-bottom: 6rem;
}

#divider {
    stroke-width: 2;
    stroke: black;
    margin-top: 5rem;
}

.projectwidth-centered{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.projectwidth-centered h3 {
    margin-top: 5rem;
}


/*------------------------------------------------------------------------------------*/


#team-tools-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-bottom: 1px solid;
    border-top: 1px solid;
    margin-bottom: 5rem;
}


#team-tools-col {
    padding: 3rem;
    border-right: 1px solid;
}

/*------------------------------------------------------------------------------------*/

#previews {
    margin-top: 10rem;
    grid-template-columns: auto auto;
    display: grid;
    grid-gap: 2rem;
    margin-bottom: 10rem;
}

#previews img.p1 {
    width: 70%;
    float: right;
}

#previews img.p2 {
    width: 70%;
    margin-top: 10rem;
}

#previews img.p3 {
    margin-top: 2rem;
    width: 77%;
    float: right;
}

/*------------------------------------------------------------------------------------*/


.process-text {
    display: grid;
    grid-template-columns: auto 60%;
    margin-top: 8rem;
    margin-bottom: 2rem;
}

.process-text h1 {
    font-size: 2rem;
    color: #DFDFDF;
    text-align: left;
}


#biege {
    background: #F7F3EB;
}

#grey {
    background: #EFEFEF;
}

/*------------------------------------------------------------------------------------*/


#projectbody img.big {
    width: 1000px;
    margin-bottom: 2rem;
}

#projectbody img.shadow {
    box-shadow: 2px 4px 7px 5px rgba(188, 188, 188, 0.25);
}


#projectbody img.pic {
    width: 410px;
} 

#projectbody img.mock {
    width: 350px;
}

/*------------------------------------------------------------------------------------*/


.hideme {
    opacity: 0;
}

.project-features-grid {
    padding-top: 8rem;
    padding-bottom: 8rem;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 53% 47%;
    grid-gap: 2rem;
    text-align: center;
}

.side-text {
    align-self: center;
    text-align: left;
}

/*------------------------------------------------------------------------------------*/

#footer-grid {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 22% 35% 21% 22%;
    border-bottom: 1px solid;
    border-top: 1px solid;
    text-align: center;
}

#footer-grid h3 {
    text-transform: uppercase;
    font-weight: 300;
}

#footer-grid a {
    text-decoration: none;
    color: black;
}

#footer-col {
    padding: 3rem;
    border-right: 1px solid;
}

/*
#footer-col:nth-child(1, 4) {
    text-align: right;
}
*/

.prev {
    transform: rotate(180deg) scale(0.8) !important;
}

.next {
    transform: scale(0.8);
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: none;
    transition: all 0.5s ease-out;
    stroke: black;
}

.next:hover {
    stroke: white;
    background-color: black;
}

#end {
    color: slategrey;
    font-size: 0.7rem;
    text-align: center;
    margin: 0;
}


/*------------------------------------------------------------------------------------*/

/*MENU*/
#header {
	 padding: 2rem;
}

#menu {
	 background: black;
	 height: 100%;
	 left: 0;
	 opacity: 0;
     padding-left: 5rem;
	 overflow: hidden;
	 position: fixed;
	 text-align: center;
	 top: 0;
	 transition: all 0.7s ease-in-out;
	 visibility: hidden;
	 width: 100%;
	 z-index: 1100;
}

 #menu.open {
	 opacity: 1;
	 visibility: visible;
}

 #menu.open li:nth-child(1) {
	 animation-delay: 0.1s;
}
 #menu.open li:nth-child(2) {
	 animation-delay: 0.2s;
}
 #menu.open li:nth-child(3) {
	 animation-delay: 0.3s;
}
 #menu.open li:nth-child(4) {
	 animation-delay: 0.4s;
}
 #menu.open li:nth-child(5) {
	 animation-delay: 0.5s;
}
 #menu.open li:nth-child(6) {
	 animation-delay: 0.6s;
}
 #menu.open li:nth-child(7) {
	 animation-delay: 0.7s;
}
 #menu.open li:nth-child(8) {
	 animation-delay: 0.8s;
}
 #menu.open li:nth-child(9) {
	 animation-delay: 0.9s;
}
 #menu.open li:nth-child(10) {
	 animation-delay: 1s;
}
 #menu.open li {
	 animation-duration: 1s;
	 animation-fill-mode: both;
	 animation-name: fadeInUp;
}

#italicsmall {
    font-style: italic;
    font-size: 1rem;
}
 #menu ul:hover a {
	 opacity: 0.5;
}
 #menu ul a {
	 -webkit-transform: translateZ(0);
	 transition: opacity 0.3s ease-in-out;
}
 #menu ul a:hover {
	 opacity: 1;
}
 #menu .main-nav {
	 position: relative;
	 top: 50%;
	 transform: translateY(-50%);
}
 #menu .main-nav ul {
	 list-style: none;
	 margin: 0;
	 padding: 0;
}
 #menu .main-nav a {
     font-family: 'ogg', sans-serif;
	 color: #fff;
	 display: block;
	 font-size: 5rem;
     text-align: left;
     margin-left: 5rem;
	 padding-bottom: 1rem;
	 text-decoration: none;
}
 #menu .main-nav a:first {
	 padding-top: 0;
}
 #menu .menu-footer {
	 padding: 2rem;
	 bottom: 0;
	 left: 0;
	 position: absolute;
	 right: 0;
}
 #menu .menu-footer ul {
	 display: inline-block;
	 list-style: none;
	 margin: 0;
	 padding: 0;
}
 #menu .menu-footer ul li {
	 display: inline;
	 margin: 0 1rem;
}
 #menu .menu-footer a {
	 color: #fff;
	 text-decoration: none;
}

 .toggle-menu {
	 background-color: transparent;
	 border: none;
	 cursor: pointer;
	 display: inline-block;
	 float: right;
	 height: 50px;
	 outline: none;
	 padding: 0;
	 pointer-events: initial;
	 position: relative;
	 vertical-align: middle;
	 width: 50px;
	 z-index: 2000;
}
 .toggle-menu span {
	 background-color: black;
	 content: "";
	 display: block;
	 height: 2px;
	 left: calc(50% - 13px);
	 position: absolute;
	 top: calc(50% - 1px);
	 transform-origin: 50% 50%;
	 transition: all 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
	 width: 26px;
     z-index: 2000;

}

 .toggle-menu span:before, .toggle-menu span:after {
	 background-color: black;
	 content: "";
	 display: block;
	 height: 2px;
	 position: absolute;
	 transform-origin: 50% 50%;
	 transition: all 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
	 width: 26px;
    z-index: 2000;

}
 .toggle-menu span:before {
	 top: 7px;
}
 .toggle-menu span:after {
	 top: -7px;
}
 .toggle-menu.active span {
	 background-color: transparent;
	 transition: background 0.2s ease-out;
}
 .toggle-menu.active span:before, .toggle-menu.active span:after {
     background-color: white;
	 transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
}
 .toggle-menu.active span:before {
	 top: 0;
	 transform: rotate3d(0, 0, 1, -45deg);
}
 .toggle-menu.active span:after {
	 top: 0;
	 transform: rotate3d(0, 0, 1, 45deg);
}

/*------------------------------------------------------------------------------------*/

/*CURSOR*/

.custom-cursor {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: exclusion;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #c28285;
/*    background-color: #9c9f84;*/

  transition: transform 350ms ease;
  transform: translate(-50%, -50%) scale(.6);
  z-index: 9000;
}
.custom-cursor--link {
  transform: translate(-50%, -50%) scale(1);
}

.block--black {
  background-color: black;
  color: #f2f4f3;
}
.block--white {
  background-color: #f2f4f3;
  color: black;
}
.block__title,
.block__link {
  color: currentColor;
}
.block__title {
/*  margin-bottom: 1em;*/
/*  font-size: 4rem;*/
/*  font-weight: 300;*/
/*  text-align: center;*/
}

.block__link {
/*  padding: .5em;*/
  text-decoration: none;
/*  transition: letter-spacing 200ms ease;*/
}
.block__link:hover {
/*  letter-spacing: .1em;*/
}

button {
    border: none;
    cursor: pointer;
	outline: inherit;
    background: none;
    text-decoration: none;
}

/*------------------------------------------------------------------------------------*/

/*HEADER*/

header {
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    position: fixed;
    z-index: 9999;
    padding-top: 2rem;
/*    margin-top: 0 !important;*/

}

.gohome:hover a{
    opacity: 1;
    transition: 0.70s;
}

.filter-white {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(251deg) brightness(108%) contrast(108%);
}

.white-color {
    background-color: white;
}


header .homebutton {
    color: black;
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    width: 5vw;
    height: 5vh;
}

header .homebutton:hover {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

#rightheader {
    float:right;
}

@media only screen 
  and (max-device-width: 812px) 
  and (orientation: portrait) { 
      body {
          height: 100vh;
      }
    body::-webkit-scrollbar {
        display: none;
        width: 0px;
        background: transparent;

    }
      
      .project-opening {
          width: 80%;
          margin-left: auto;
          margin-right: auto;
      }
      
    p {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
      
      h2 {
          font-size: 3.5rem;
          line-height: 4rem;
      }
      
      h1 {
          font-size: 7rem;
          line-height: 7.5rem;
          padding: 2rem;
      }
      
      h4 {
          font-size: 6rem;
          line-height: 6.5rem;
      }
      
      h3 {
          font-size: 2rem;
      }
      
      .hideme {
        opacity: 1;
        }
      
      .herohide {
        opacity: 1;
        }
      
      h5 {
          font-size: 4rem;
          line-height: 4.5rem;
      }
      
      #team-tools-grid {
          display: block;
          border: none;
          border-top: 1px solid black;
      }
      
      #team-tools-col {
          border-bottom: 1px solid black;
        padding-left: 10%;
          padding-right: 10%; 
      }
    
      #projectintro {
          width: 80%;
      }
      
    #projectpage {
        width: 1020px;
        padding-top: 6rem;
        display: block;
    }
      
      #projectpage img {
          width: 1020px;
      }

    
    #projectpage::-webkit-scrollbar {
        display: none;
        width: 0px;
background: transparent;
    }

      .project-features-grid {
          width: 80%;
          display: block;
      }
      
      #projectbody img.pic{
          width: 100%;
      }
      #projectbody img.mock{
          width: 100%;
      }
      
      .process-text {
          width: 80%;
          display: block;
/*          grid-template-columns: auto 80%;*/
          margin-left: auto;
          margin-right: auto;
      }
      


#footer-grid {
    width: 1020px;
    margin-top: 10rem;
    display: block;
    border-bottom: 1px solid;
    border-top: 1px solid;
    text-align: center;
}

#footer-grid h3 {
    text-transform: uppercase;
    font-weight: 300;
}

#footer-grid a {
    text-decoration: none;
    color: black;
}

#footer-col {
    padding: 3rem;
    border-bottom: 1px solid;
}

    }
