/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/*------------------------------------------------------------------------------------*/

@font-face {
  font-family: ogg;
  src: url(Ogg-Regular.woff) format("woff");
  font-weight: regular;
}

@font-face {
  font-family: ogg;
  src: url(Ogg-RegularItalic.woff) format("woff");
  font-style: italic;
}

/*------------------------------------------------------------------------------------*/


body {
    font-family: 'ogg', serif;
	width: 100%;
	background-color: #f2f4f3;
	cursor: none;
    margin: 0;
    overflow-x: hidden;
    cursor: none;
}

#white{
    font-family: 'ogg', serif;
	width: 100%;
	cursor: none;
    margin: 0;
    overflow-x: hidden;
    cursor: none;
    background: white;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

/*------------------------------------------------------------------------------------*/

/* Summer 2019 */

h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 2rem;
    text-transform: uppercase; 
}

/* Project Title */
h1 {
    font-family: 'ogg', serif;
    font-size: 7rem;
    margin-bottom: 2rem;
    text-transform: none;    
}

/* Opportunity Space; names, tools, roles, timeline header */
h3 {
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 300;
}

/* fancy line */
h4 {
    font-family: 'ogg', sans-serif;
    font-size: 3.7rem;
    line-height: 4rem;
    margin-bottom: 3rem;

}

p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 3rem;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    line-height: 1.7rem;

}

/* names, tools, roles, timeline */
h5  {
    font-family: 'ogg', sans-serif;
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 1rem !important;
}

/*------------------------------------------------------------------------------------*/


html {
    scroll-snap-type: y mandatory;
    cursor: none;
}

a {
    cursor: none;
}

.hideme1, .hideme2, .hideme3, .hidesmol1, .hidesmol2, .hidesmol3, .hidemex, .hidesmolx {
    opacity: 0;
}

section {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    background-size: 100%;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    }

    section:nth-of-type(2) {
        background-color: #040404;
        overflow-y: hidden;        
    }

    section:nth-of-type(3) {
        background-color: #040404;
        overflow-y: hidden;
    }

    section:nth-of-type(4) {
        background-color: black;
        overflow-y: hidden;
    }

    section:nth-of-type(5) {
        background-color: black;
        overflow-y: hidden;
    }

/*------------------------------------------------------------------------------------*/


li {
    list-style-type: none !important;
}

.hideme {
    opacity: 0;
}
/*------------------------------------------------------------------------------------*/


/*MENU*/

#menu {
	 background: black;
	 height: 100%;
	 left: 0;
	 opacity: 0;
     padding-left: 5rem;
	 overflow: hidden;
	 position: fixed;
	 text-align: center;
	 top: 0;
	 transition: all 0.7s ease-in-out;
	 visibility: hidden;
	 width: 100%;
	 z-index: 1100;
}

 #menu.open {
	 opacity: 1;
	 visibility: visible;
}

 #menu.open li:nth-child(1) {
	 animation-delay: 0.1s;
}
 #menu.open li:nth-child(2) {
	 animation-delay: 0.2s;
}
 #menu.open li:nth-child(3) {
	 animation-delay: 0.3s;
}
 #menu.open li:nth-child(4) {
	 animation-delay: 0.4s;
}
 #menu.open li:nth-child(5) {
	 animation-delay: 0.5s;
}
 #menu.open li:nth-child(6) {
	 animation-delay: 0.6s;
}
 #menu.open li:nth-child(7) {
	 animation-delay: 0.7s;
}
 #menu.open li:nth-child(8) {
	 animation-delay: 0.8s;
}
 #menu.open li:nth-child(9) {
	 animation-delay: 0.9s;
}
 #menu.open li:nth-child(10) {
	 animation-delay: 1s;
}
 #menu.open li {
	 animation-duration: 1s;
	 animation-fill-mode: both;
	 animation-name: fadeInUp;
}


#italicsmall {
    font-style: italic;
    font-size: 1rem;
}
 #menu ul:hover a {
	 opacity: 0.5;
}
 #menu ul a {
	 -webkit-transform: translateZ(0);
	 transition: opacity 0.3s ease-in-out;
}
 #menu ul a:hover {
	 opacity: 1;
}
 #menu .main-nav {
	 position: relative;
	 top: 50%;
	 transform: translateY(-50%);
}
 #menu .main-nav ul {
	 list-style: none;
	 margin: 0;
	 padding: 0;
}
 #menu .main-nav a {
     font-family: 'ogg', sans-serif;
	 color: #fff;
	 display: block;
	 font-size: 5rem;
     text-align: left;
     margin-left: 5rem;
	 padding-bottom: 1rem;
	 text-decoration: none;
}
 #menu .main-nav a:first {
	 padding-top: 0;
}
 #menu .menu-footer {
	 padding: 2rem;
	 bottom: 0;
	 left: 0;
	 position: absolute;
	 right: 0;
}
 #menu .menu-footer ul {
	 display: inline-block;
	 list-style: none;
	 margin: 0;
	 padding: 0;
}
 #menu .menu-footer ul li {
	 display: inline;
	 margin: 0 1rem;
}
 #menu .menu-footer a {
	 color: #fff;
	 text-decoration: none;
}

.white-burger {
	 background-color: transparent;
	 border: none;
	 cursor: pointer;
	 display: none;
	 float: right;
	 height: 50px;
	 outline: none;
	 padding: 0;
	 pointer-events: initial;
	 position: relative;
	 vertical-align: middle;
	 width: 26px;
	 z-index: 2000;
}
 .white-burger span {
	 background-color: white;
	 content: "";
	 display: block;
	 height: 2px;
	 left: calc(50% - 13px);
	 position: absolute;
	 top: calc(50% - 1px);
	 transform-origin: 50% 50%;
	 transition: all 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
	 width: 26px;
     z-index: 2001;

}
 .white-burger span:before, .white-burger span:after {
	 background-color: white;
	 content: "";
	 display: block;
	 height: 2px;
	 position: absolute;
	 transform-origin: 50% 50%;
	 transition: all 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
	 width: 26px;
    z-index: 2001;

}
 .white-burger span:before {
	 top: 7px;
}
 .white-burger span:after {
	 top: -7px;
}

.white-burger.active span {
	 background-color: transparent !important;
	 transition: background 0.2s ease-out;
}
 .white-burger.active span:before, .white-burger.active span:after {
     background-color: white;
	 transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
}
 .white-burger.active span:before {
	 top: 0;
	 transform: rotate3d(0, 0, 1, -45deg);
}
 .white-burger.active span:after {
	 top: 0;
	 transform: rotate3d(0, 0, 1, 45deg);
}

 .toggle-menu {
     opacity: 1; 
	 background-color: transparent;
	 border: none;
	 cursor: pointer;
	 display: inline-block;
	 float: right;
	 height: 50px;
	 outline: none;
	 padding: 0;
	 pointer-events: initial;
	 position: relative;
	 vertical-align: middle;
	 width: 26px;
	 z-index: 2000;
}

 .toggle-menu span {
	 background-color: black;
	 content: "";
	 display: block;
	 height: 2px;
	 left: calc(50% - 13px);
	 position: absolute;
	 top: calc(50% - 1px);
	 transform-origin: 50% 50%;
	 transition: all 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
	 width: 26px;
     z-index: 2000;

}
 .toggle-menu span:before, .toggle-menu span:after {
	 background-color: black;
	 content: "";
	 display: block;
	 height: 2px;
	 position: absolute;
	 transform-origin: 50% 50%;
	 transition: all 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
	 width: 26px;
    z-index: 2000;

}
 .toggle-menu span:before {
	 top: 7px;
}
 .toggle-menu span:after {
	 top: -7px;
}
 .toggle-menu.active span {
	 background-color: transparent !important;
	 transition: background 0.2s ease-out;
}
 .toggle-menu.active span:before, .toggle-menu.active span:after {
     background-color: white;
	 transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
}
 .toggle-menu.active span:before {
	 top: 0;
	 transform: rotate3d(0, 0, 1, -45deg);
}
 .toggle-menu.active span:after {
	 top: 0;
	 transform: rotate3d(0, 0, 1, 45deg);
}

/*------------------------------------------------------------------------------------*/
/*CURSOR*/

.custom-cursor {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: exclusion;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #c28285;
/*    background-color: #9c9f84;*/

  transition: transform 350ms ease;
  transform: translate(-50%, -50%) scale(.6);
  z-index: 9000;
}
.custom-cursor--link {
  transform: translate(-50%, -50%) scale(1);
}

.block--black {
  background-color: black;
  color: #f2f4f3;
}
.block--white {
  background-color: #f2f4f3;
  color: black;
}
.block__title,
.block__link {
  color: currentColor;
}
.block__title {
/*  margin-bottom: 1em;*/
/*  font-size: 4rem;*/
/*  font-weight: 300;*/
/*  text-align: center;*/
}
.block__link {
/*  padding: .5em;*/
  text-decoration: none;
/*  transition: letter-spacing 200ms ease;*/
}
.block__link:hover {
/*  letter-spacing: .1em;*/
}

button {
    border: none;
    cursor: pointer;
	outline: inherit;
    background: none;
    text-decoration: none;
    padding: 0px;
}

/*HEADER*/

header {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    position: fixed;
    z-index: 9999;
}

.gohome:hover a{
    opacity: 1;
    transition: 0.70s;
}

.filter-white {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(251deg) brightness(108%) contrast(108%);
}


.white-color {
    background-color: white;
}

/*------------------------------------*/
header {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

header .homebutton {
    color: black;
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    width: 40px;
    height: 50px;
}

header .homebutton:hover {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}


#homepage {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6rem;
}

.links h2 {
    font-size: 20px;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    line-height: 40px;
    border-bottom: 1px solid black;
}

#text h4 {
    font-size: 80px;
    line-height: 90px;
}

#introduction {
    border-top: 1px solid black;
    padding-top: 1rem;
    display: flex;
}

#introduction .item1 {
    margin: 0px;
    padding: 0px;
}

.links {
    position: absolute;
  right: 2.5%;
}

#text {
    position: absolute;
    bottom: 5px;
}

#italic {
    font-style: italic;
}

#introduction a {
    text-decoration: none;
    color: black;
    opacity: 1;
    transition: 0.5s ease-in-out;
}

/*
#text a:hover {
    font-style: italic;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}
*/

#introduction a:hover {
    font-style: italic;
/*    font-weight: 300;*/
    color: black;
    transition: 0.5s ease-in-out;
}

/*PROJECTS*/

* {box-sizing: border-box;}

.wrapper > div {
    color: white;
}

.wrapper {
    position: relative;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-top: 6rem;
    width: 95vw;
    height: 65%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 15px;
    grid-template-areas:
        "a a b b b"
        "a a b b b"
        "a a b b b"
        "c d b b b";
}


section h1 {
    color: white;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.wrapper img {
    height: 100%;
}

.item1 h2 {
    font-size: 30px;
    font-weight: 500;
}

.item2 h2, .item3 h2 {
    font-size: 20px;
    font-weight: 200;
    line-height: 25px;
}

.item1 {
    padding-top: 1rem;
  grid-area: a;
}
.item2 {
  grid-area: c;
}
.item3 {
  grid-area: d;
}
.item4 {
  grid-area: b;
    overflow: hidden;
}


@media screen and (min-width: 0px) and (max-width: 576px) {
    
    #menu {
     padding: 1rem;
    }
    

    #menu .main-nav a {
	 color: #fff;
	 display: block;
	 font-size: 3rem;
     text-align: left;
     margin-left: 0;
	 padding-bottom: 1rem;
	 text-decoration: none;
    }

    
    header {  
        width: 95%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        position: fixed;
    }


    #homepage {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 6rem;
        display: block;
    }

    .links h2 {
        font-size: 20px;
        font-weight: 400;
        padding: 0px;
        margin: 0px;
        line-height: 40px;
        border-bottom: 1px solid black;
    }
    


#text h4 {
    font-size: 50px;
    line-height: 50px;
}

#introduction {
    border-top: 1px solid black;
    padding-top: 1rem;
    display: block;
}

#introduction .item1 {
    margin: 0px;
    padding: 0px;
}

.links {
    position: relative;
  right: 0%;
}

#text {
/*
    position: absolute;
    bottom: 5px;
*/
}

#italic {
    font-style: italic;
}

#introduction a {
    text-decoration: none;
    color: black;
    opacity: 1;
    transition: 0.5s ease-in-out;
}

#introduction a:hover {
    font-style: italic;
    color: black;
    transition: 0.5s ease-in-out;
}

/*PROJECTS*/

* {box-sizing: border-box;}

.wrapper > div {
    color: white;
}

.wrapper {
    position: relative;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-top: 6rem;
    width: 95%;
    height: 65%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 15px;
    grid-template-areas:
        "a"
        "d"
        "b"
        "b";
}


section h1 {
    color: white;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    font-size: 70px;
}

.wrapper img {
    height: 100%;
}

.item1 h2 {
    font-size: 30px;
    font-weight: 500;
}

.item2 h2, .item3 h2 {
    font-size: 20px;
    font-weight: 200;
    padding: 0;
    margin: 0;
}
    
.item1 {
    padding-top: 1rem;
  grid-area: a;
}
.item2 {
    display: none;
  grid-area: c;
}
.item3 {
    display: flex;
  grid-area: d;
}
    
    .item3 h2 {
        align-self: flex-end;
    }
.item4 {
  grid-area: b;
    overflow: hidden;
}
    
    .item1, .item3 {
        margin-left: 2.5%;
    }


}

